//-
   Created by pedro on 09/04/15.

extends ../layout.jade

block content
    .container
        .jumbotron.login-jumbo
            .container
                h1 Utilizador não autenticado
                p Faça login com o Google <a href="/auth/google">aqui</a>