//-
   Created by pedro on 09/04/15.

extends ../layout.jade

include manager-mixins.jade

block content
    +contentIntro (intro.title, intro.description)
    .container
        .col-lg-12
            +listPagination(managerModule, page, pages, pageSize, availablePageSizes, true)
            +listAdd ('/manager/' + managerModule + '/add')
        .col-lg-12
            block table
            +listPagination(managerModule, page, pages, pageSize, availablePageSizes, false)
    +listScripts(managerModule)